:root {
  --card-radius: 20px;
  --card-border-width: 2px;
  --card-border-gap: 5px;

  --card-border-size: calc(var(--active-card-size) + (var(--card-border-width) + var(--card-border-gap)) * 2);
  --card-border-offset: calc(0px - (var(--card-border-width) + var(--card-border-gap)));
}